.greenButton {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border: 2px solid rgb(42, 99, 74);
  color: white;
  background-color: rgb(42, 99, 74);
  padding: 2% 4% 2% 4%;
  letter-spacing: 2px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  width: 100px;
  height: 40px;
}
.greenButton:hover {
  transition: all 0.3s ease-out;
  background-color: rgb(17, 33, 26);
  cursor: pointer;
}
.greenButton:active {
  transform: scale(0.95);
}
