body {
  margin: 0px;
  overflow: hidden;
  /* background-image: linear-gradient(
    to left top,
    #58595d,
    #46474b,
    #353639,
    #252628,
    #161718
  ); */
  background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dashboard-header {
  font-family: "Fjalla One", sans-serif;
  background-color: #1a1313ad;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(20px);
}
.dashboard-header h3 {
  margin: 1% 0 1% 0;
  color: gainsboro;
  letter-spacing: 8px;
  font-size: 2rem;
}

/* ? Dashboard styles */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  /* height: 100vh; */
}
/* ? Left navbar styles */
.dashboard-leftnavbar-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.dashboard-leftnavbar-container > * {
  width: 100%;
}
.dashboard-nav-button {
  font-size: 1.1rem;
  width: 100%;
}
/* ? Right container styles */
.dashboard-right-container {
  border: 2px solid green;
}

/* ? Services container styles */
.dashboard-services-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 3fr 3fr 3fr;
}
.dashboard-sub-container {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  height: 100vh;
  margin: 4% 5% 4% 5%;
}
/*  ? Birth Form */
.dashboard-birth-form-container {
  overflow-y: auto;
  height: 86vh;
}
